@model TaxiBookingServiceUI.Models.VehicleDetailViewModel

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}

<h5>Your Vehicle</h5>

<strong style="color: red">@TempData["errmsg"]</strong>
<strong style="color: green">@TempData["msg"]</strong>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit")
</div>
